Weihnachtskrippe/v04.json
[{"id":"d49eb9da.8632f8","type":"function","z":"de7d9f22.760378","name":"loop","func":"context.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\ncontext.delay = context.delay || 1000;\n\nif (msg.topic=='delay'){\n    context.delay = msg.payload;\n}else{\n    switch (msg.payload) {\n    \tcase \"stop\":\n    \t\tcontext.loops = context.loops + 1;\n    \t\tmsg.payload = \"stopped\";\n    \t\tmsg.delay = context.delay;\n    \t\tcontext.loop = \"stop\";\n    \t\treturn [msg,null,{delay:context.delay}];\n    \tcase \"toggle\":\n    \t\tif (context.loop == \"start\") {\n    \t\t\tmsg.payload = \"stopped\";\n    \t\t\tmsg.delay = context.delay;\n    \t\t\tcontext.loop = \"stop\";\n    \t\t\treturn [msg,null,{delay:context.delay}];\n    \t\t} else {\n    \t\t\tmsg.payload = \"started\";\n    \t\t\tmsg.delay = context.delay;\n    \t\t\tcontext.loop = \"loop\";\n    \t\t\tcontext.loops = 1;\n    \t\t\treturn [msg,msg,{delay:context.delay}];\n    \t\t}\n    \tcase \"start\":\n    \t\tmsg.payload = \"started\";\n    \t\tmsg.delay = context.delay;\n    \t\tcontext.loop = \"loop\";\n    \t\tcontext.loops = 1;\n    \t\treturn [msg,msg,{delay:context.delay}];\n    \tdefault:\n    \t\tif (context.loop == \"loop\") {\n    \t\t\tcontext.loops = context.loops + 1;\n    \t\t\tmsg.payload = \"loop:\" + context.loops;\n    \t\t\tmsg.delay = context.delay;\n    \t\t\treturn [msg,msg,{delay:context.delay}];\n    \t\t} else {\n    \t\t\treturn [null,null,null]; \n    \t\t}\n    }\n}","outputs":3,"noerr":0,"x":381,"y":469,"wires":[["a79c93af.c18308"],["4daec061.ea9c38"],["a221e638.0f94f"]],"inputLabels":["toggle input"],"outputLabels":["msg out to consumer","msg out to toggle","current delay"]},{"id":"4daec061.ea9c38","type":"delay","z":"de7d9f22.760378","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":391,"y":529,"wires":[["d49eb9da.8632f8"]]},{"id":"852769b1.6596a","type":"inject","z":"de7d9f22.760378","name":"initialize false","topic":"init","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":108,"y":74,"wires":[["9cde83e3.55fbc","3d1b784d.01c9f","d7f93b00.189128"]]},{"id":"8d795e8.007a5a","type":"change","z":"de7d9f22.760378","name":"start stop message","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"start","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":90,"wires":[["d49eb9da.8632f8"]]},{"id":"a79c93af.c18308","type":"function","z":"de7d9f22.760378","name":"toggle","func":"context.status = context.status || false;\n\nvar led1 = false;\nvar led2 = false;\n\nif(flow.get('blinky')){\n    context.status = !context.status\n    var led1 = context.status\n    var led2 = !context.status\n}\n\n\n\nreturn [{payload:led1},{payload:led2}];","outputs":2,"noerr":0,"x":381,"y":409,"wires":[["1ecac272.f4e566"],["c7a1f18.369889"]]},{"id":"17103a4a.77afbe","type":"change","z":"de7d9f22.760378","name":"set blinky status","rules":[{"t":"set","p":"blinky","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":150,"wires":[[]]},{"id":"8687fd94.e0d8e8","type":"rpi-gpio out","z":"de7d9f22.760378","name":"LED 1","pin":"12","set":true,"level":"0","freq":"","out":"out","x":861,"y":359,"wires":[]},{"id":"5b6f8669.4e0d98","type":"rpi-gpio out","z":"de7d9f22.760378","name":"LED 2","pin":"16","set":true,"level":"0","freq":"","out":"out","x":871,"y":489,"wires":[]},{"id":"1ecac272.f4e566","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":661,"y":359,"wires":[["8687fd94.e0d8e8","2db40e48.8a2b0a"]]},{"id":"c7a1f18.369889","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":661,"y":489,"wires":[["f6bbd97.f9ff2a8","5b6f8669.4e0d98"]]},{"id":"2db40e48.8a2b0a","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"yellow","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":901,"y":319,"wires":[["b818173a.ed0f38"]]},{"id":"f6bbd97.f9ff2a8","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"red","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":911,"y":449,"wires":[["19d48dae.fb57aa"]]},{"id":"a221e638.0f94f","type":"rbe","z":"de7d9f22.760378","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"delay","x":621,"y":579,"wires":[["67c4d3be.66c47c"]]},{"id":"3271307e.e654","type":"function","z":"de7d9f22.760378","name":"s to ms","func":"msg.payload = msg.payload*1000;\nreturn msg;","outputs":1,"noerr":0,"x":121,"y":459,"wires":[["d49eb9da.8632f8"]]},{"id":"67c4d3be.66c47c","type":"function","z":"de7d9f22.760378","name":"ms to s","func":"msg.delay = msg.delay/1000;\nreturn msg;","outputs":1,"noerr":0,"x":751,"y":579,"wires":[["49491d6a.734254"]]},{"id":"f7018a6f.318b2","type":"rpi-gpio in","z":"de7d9f22.760378","name":"Pushbutton","pin":"37","intype":"down","debounce":"25","read":false,"x":94,"y":30,"wires":[["3ef9b470.2e32b4"]]},{"id":"9cde83e3.55fbc","type":"ui_switch","z":"de7d9f22.760378","name":"Automatic blinking","label":"Automatic blinking","group":"b1b8d22a.186668","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":161,"y":129,"wires":[["8d795e8.007a5a","17103a4a.77afbe"]]},{"id":"3d1b784d.01c9f","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 1","label":"Switch LED 1","group":"b1b8d22a.186668","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LED 1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":151,"y":179,"wires":[["1ecac272.f4e566"]]},{"id":"d7f93b00.189128","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 2","label":"Switch LED 2","group":"b1b8d22a.186668","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LED 2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":151,"y":229,"wires":[["c7a1f18.369889"]]},{"id":"c32c4005.fcbd4","type":"ui_slider","z":"de7d9f22.760378","name":"delay slider","label":"","group":"b1b8d22a.186668","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"delay","min":"0.1","max":"3","step":"0.1","x":131,"y":389,"wires":[["3271307e.e654"]]},{"id":"49491d6a.734254","type":"ui_text","z":"de7d9f22.760378","group":"b1b8d22a.186668","order":8,"width":0,"height":0,"name":"","label":"Current blinking frequency","format":"{{msg.delay}}","layout":"row-spread","x":951,"y":579,"wires":[]},{"id":"b818173a.ed0f38","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"LED 1 dot","order":6,"width":"1","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1091,"y":319,"wires":[[]]},{"id":"19d48dae.fb57aa","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"LED 2 dot","order":7,"width":"1","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1101,"y":449,"wires":[[]]},{"id":"ecf3da98.c7ace8","type":"inject","z":"de7d9f22.760378","name":"initialize 1","topic":"init","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":99,"y":318,"wires":[["c32c4005.fcbd4"]]},{"id":"5954b7a6.e9bd2","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":30,"wires":[["17103a4a.77afbe","8d795e8.007a5a"]]},{"id":"3ef9b470.2e32b4","type":"rbe","z":"de7d9f22.760378","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":30,"wires":[["6e5b381e.aaf6c"]]},{"id":"6e5b381e.aaf6c","type":"function","z":"de7d9f22.760378","name":"store state","func":"context.state = context.state || false;\nif (msg.payload == 1){\n    context.state = !context.state;\n    msg.payload = context.state;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":450,"y":30,"wires":[["5954b7a6.e9bd2"]]},{"id":"ead8f89e.714348","type":"trigger","z":"de7d9f22.760378","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Initial Blink","x":850,"y":220,"wires":[["8687fd94.e0d8e8","5b6f8669.4e0d98"]]},{"id":"debb5175.2e2828","type":"inject","z":"de7d9f22.760378","name":"Blink on boot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":220,"wires":[["ead8f89e.714348"]]},{"id":"b1b8d22a.186668","type":"ui_group","z":"de7d9f22.760378","name":"Beleuchtung","tab":"9ffc1f3c.ffa73","order":2,"disp":true,"width":"6","collapse":false},{"id":"9ffc1f3c.ffa73","type":"ui_tab","z":"de7d9f22.760378","name":"RaspbyKrippe","icon":"dashboard","order":1}]