Weihnachtskrippe/v06.json
[{"id":"d49eb9da.8632f8","type":"function","z":"de7d9f22.760378","name":"loop","func":"context.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\nif (msg.topic=='delay'){\n    context.delay = msg.payload;\n}else{\n    switch (msg.payload) {\n    \tcase \"stop\":\n    \t\tcontext.loops = context.loops + 1;\n    \t\tmsg.payload = \"stopped\";\n    \t\tmsg.delay = context.delay;\n    \t\tcontext.loop = \"stop\";\n    \t\treturn [msg,null];\n    \tcase \"toggle\":\n    \t\tif (context.loop == \"start\") {\n    \t\t\tmsg.payload = \"stopped\";\n    \t\t\tmsg.delay = context.delay;\n    \t\t\tcontext.loop = \"stop\";\n    \t\t\treturn [msg,null];\n    \t\t} else {\n    \t\t\tmsg.payload = \"started\";\n    \t\t\tmsg.delay = context.delay;\n    \t\t\tcontext.loop = \"loop\";\n    \t\t\tcontext.loops = 1;\n    \t\t\treturn [msg,msg];\n    \t\t}\n    \tcase \"start\":\n    \t\tmsg.payload = \"started\";\n    \t\tmsg.delay = context.delay;\n    \t\tcontext.loop = \"loop\";\n    \t\tcontext.loops = 1;\n    \t\treturn [msg,msg];\n    \tdefault:\n    \t\tif (context.loop == \"loop\") {\n    \t\t\tcontext.loops = context.loops + 1;\n    \t\t\tmsg.payload = \"loop:\" + context.loops;\n    \t\t\tmsg.delay = context.delay;\n    \t\t\treturn [msg,msg];\n    \t\t} else {\n    \t\t\treturn [null,null]; \n    \t\t}\n    }\n}","outputs":2,"noerr":1,"x":380,"y":470,"wires":[["a79c93af.c18308"],["4daec061.ea9c38"]],"inputLabels":["toggle input"],"outputLabels":["msg out to consumer","msg out to toggle","current delay"]},{"id":"4daec061.ea9c38","type":"delay","z":"de7d9f22.760378","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":530,"wires":[["d49eb9da.8632f8"]]},{"id":"852769b1.6596a","type":"inject","z":"de7d9f22.760378","name":"initialize false","topic":"init","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":110,"y":90,"wires":[["9cde83e3.55fbc","3d1b784d.01c9f","d7f93b00.189128"]]},{"id":"8d795e8.007a5a","type":"change","z":"de7d9f22.760378","name":"start stop message","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"start","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":270,"wires":[["d49eb9da.8632f8"]]},{"id":"a79c93af.c18308","type":"function","z":"de7d9f22.760378","name":"toggle","func":"context.status = context.status || false;\n\nvar led1 = false;\nvar led2 = false;\n\nif(flow.get('blinky')){\n    context.status = !context.status\n    var state = context.status\n}\n\n\n\nreturn {payload:state};","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["f0b851c.75f7f3","5007728c.48d87c"]]},{"id":"17103a4a.77afbe","type":"change","z":"de7d9f22.760378","name":"set blinky state","rules":[{"t":"set","p":"blinky","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":210,"wires":[[]]},{"id":"8687fd94.e0d8e8","type":"rpi-gpio out","z":"de7d9f22.760378","name":"LED 1","pin":"12","set":false,"level":"0","freq":"100","out":"pwm","x":1490,"y":400,"wires":[]},{"id":"5b6f8669.4e0d98","type":"rpi-gpio out","z":"de7d9f22.760378","name":"LED 2","pin":"16","set":false,"level":"0","freq":"100","out":"pwm","x":1490,"y":490,"wires":[]},{"id":"1ecac272.f4e566","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":400,"wires":[["8687fd94.e0d8e8","8f9862e0.65b57"]]},{"id":"c7a1f18.369889","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":490,"wires":[["5b6f8669.4e0d98","a41f4583.95483"]]},{"id":"3271307e.e654","type":"function","z":"de7d9f22.760378","name":"s to ms","func":"msg.payload = msg.payload*1000;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":470,"wires":[["d49eb9da.8632f8"]]},{"id":"f7018a6f.318b2","type":"rpi-gpio in","z":"de7d9f22.760378","name":"Pushbutton","pin":"37","intype":"down","debounce":"25","read":false,"x":100,"y":40,"wires":[["4d2c4e30.7402a8"]]},{"id":"9cde83e3.55fbc","type":"ui_switch","z":"de7d9f22.760378","name":"Automatic blinking","label":"Automatic blinking","group":"b1b8d22a.186668","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":210,"wires":[["8d795e8.007a5a","17103a4a.77afbe"]]},{"id":"3d1b784d.01c9f","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 1","label":"Switch LED 1","group":"b1b8d22a.186668","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LED 1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":960,"y":400,"wires":[["1ecac272.f4e566"]]},{"id":"d7f93b00.189128","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 2","label":"Switch LED 2","group":"b1b8d22a.186668","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LED 2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":960,"y":490,"wires":[["c7a1f18.369889"]]},{"id":"c32c4005.fcbd4","type":"ui_slider","z":"de7d9f22.760378","name":"delay slider","label":"Blink frequency in s","group":"b1b8d22a.186668","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"delay","min":"0.1","max":"3","step":"0.1","x":120,"y":420,"wires":[["3271307e.e654"]]},{"id":"b818173a.ed0f38","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"LED 1 dot","order":1,"width":"1","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1500,"y":360,"wires":[[]]},{"id":"19d48dae.fb57aa","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"LED 2 dot","order":2,"width":"1","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1500,"y":450,"wires":[[]]},{"id":"ecf3da98.c7ace8","type":"inject","z":"de7d9f22.760378","name":"initialize 1","topic":"init","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":120,"y":370,"wires":[["c32c4005.fcbd4","b90c981b.074148"]]},{"id":"ead8f89e.714348","type":"trigger","z":"de7d9f22.760378","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"pulse","x":1270,"y":570,"wires":[["8687fd94.e0d8e8","5b6f8669.4e0d98"]]},{"id":"debb5175.2e2828","type":"inject","z":"de7d9f22.760378","name":"Blink on reboot","topic":"init","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.25","x":1060,"y":570,"wires":[["ead8f89e.714348"]]},{"id":"4d2c4e30.7402a8","type":"switch","z":"de7d9f22.760378","name":"just positive flank","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":40,"wires":[["860da7e5.8b6278"]]},{"id":"d1c0cacb.be8958","type":"function","z":"de7d9f22.760378","name":"invert it","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":40,"wires":[["9cde83e3.55fbc"]]},{"id":"860da7e5.8b6278","type":"change","z":"de7d9f22.760378","name":"replace with blinky state","rules":[{"t":"set","p":"payload","pt":"msg","to":"blinky","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":40,"wires":[["d1c0cacb.be8958"]]},{"id":"d30f07d2.90f18","type":"ui_slider","z":"de7d9f22.760378","name":"brightness slider","label":"LED brightness","group":"b1b8d22a.186668","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"brightness","min":"1","max":"100","step":"1","x":140,"y":630,"wires":[["a6fadeee.2e7d38"]]},{"id":"e5877670.b2e498","type":"inject","z":"de7d9f22.760378","name":"initialize 100","topic":"init","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":580,"wires":[["d30f07d2.90f18"]]},{"id":"a6fadeee.2e7d38","type":"change","z":"de7d9f22.760378","name":"set brightness status","rules":[{"t":"set","p":"brightness","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":680,"wires":[[]]},{"id":"8f9862e0.65b57","type":"function","z":"de7d9f22.760378","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'yellow';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":360,"wires":[["b818173a.ed0f38"]]},{"id":"a41f4583.95483","type":"function","z":"de7d9f22.760378","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'red';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":450,"wires":[["19d48dae.fb57aa"]]},{"id":"c446a7c0.98f108","type":"comment","z":"de7d9f22.760378","name":"Alternating while-loop","info":"","x":380,"y":350,"wires":[]},{"id":"b90c981b.074148","type":"ui_slider","z":"de7d9f22.760378","name":"mode selector slider","label":"Mode selector","group":"b1b8d22a.186668","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"mode","min":"1","max":"2","step":1,"x":150,"y":760,"wires":[["b4e52c07.8fb978"]]},{"id":"b4e52c07.8fb978","type":"change","z":"de7d9f22.760378","name":"set mode status","rules":[{"t":"set","p":"mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":810,"wires":[[]]},{"id":"f0b851c.75f7f3","type":"switch","z":"de7d9f22.760378","name":"mode 1","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":400,"wires":[["3d1b784d.01c9f","4415b439.34af8c"]]},{"id":"5007728c.48d87c","type":"switch","z":"de7d9f22.760378","name":"mode 2","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":510,"wires":[["ffb13f85.8a6e9"]]},{"id":"4415b439.34af8c","type":"function","z":"de7d9f22.760378","name":"invert it","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":450,"wires":[["d7f93b00.189128"]]},{"id":"ffb13f85.8a6e9","type":"trigger","z":"de7d9f22.760378","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":590,"y":560,"wires":[["99db0467.118d48","3d1b784d.01c9f"]]},{"id":"99db0467.118d48","type":"delay","z":"de7d9f22.760378","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":610,"wires":[["d7f93b00.189128"]]},{"id":"b1b8d22a.186668","type":"ui_group","z":"de7d9f22.760378","name":"Beleuchtung","tab":"9ffc1f3c.ffa73","order":2,"disp":true,"width":"6","collapse":false},{"id":"9ffc1f3c.ffa73","type":"ui_tab","z":"de7d9f22.760378","name":"RaspbyKrippe","icon":"dashboard","order":1}]