Weihnachtskrippe/v07.1.json
[{"id":"4daec061.ea9c38","type":"delay","z":"de7d9f22.760378","name":"loop delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":620,"wires":[["d68245bd.6f107"]]},{"id":"17103a4a.77afbe","type":"change","z":"de7d9f22.760378","name":"set blinky state","rules":[{"t":"set","p":"blinky","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":670,"wires":[[]]},{"id":"8687fd94.e0d8e8","type":"rpi-gpio out","z":"de7d9f22.760378","name":"Raspy LED 1","pin":"12","set":false,"level":"0","freq":"100","out":"pwm","x":1970,"y":360,"wires":[]},{"id":"5b6f8669.4e0d98","type":"rpi-gpio out","z":"de7d9f22.760378","name":"Raspy LED 2","pin":"16","set":false,"level":"0","freq":"100","out":"pwm","x":1970,"y":450,"wires":[]},{"id":"1ecac272.f4e566","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":360,"wires":[["8687fd94.e0d8e8","8f9862e0.65b57"]]},{"id":"c7a1f18.369889","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":450,"wires":[["5b6f8669.4e0d98","a41f4583.95483"]]},{"id":"f7018a6f.318b2","type":"rpi-gpio in","z":"de7d9f22.760378","name":"Raspy Pushbutton","pin":"37","intype":"down","debounce":"25","read":false,"x":150,"y":360,"wires":[["4d2c4e30.7402a8"]]},{"id":"9cde83e3.55fbc","type":"ui_switch","z":"de7d9f22.760378","name":"Automatic blinking","label":"Automatic blinking","group":"b1b8d22a.186668","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":560,"wires":[["17103a4a.77afbe","d68245bd.6f107"]]},{"id":"3d1b784d.01c9f","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 1","label":"Switch LED 1","group":"b1b8d22a.186668","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1420,"y":360,"wires":[["1ecac272.f4e566"]]},{"id":"d7f93b00.189128","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 2","label":"Switch LED 2","group":"b1b8d22a.186668","order":4,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1420,"y":450,"wires":[["c7a1f18.369889"]]},{"id":"c32c4005.fcbd4","type":"ui_slider","z":"de7d9f22.760378","name":"frequency slider","label":"Blink frequency","group":"b1b8d22a.186668","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"delay","min":"0.1","max":"1.5","step":"0.1","x":430,"y":510,"wires":[["d68245bd.6f107"]]},{"id":"b818173a.ed0f38","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"Form LED 1 dot","order":1,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1980,"y":320,"wires":[[]]},{"id":"19d48dae.fb57aa","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"Form LED 2 dot","order":3,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1980,"y":410,"wires":[[]]},{"id":"ecf3da98.c7ace8","type":"inject","z":"de7d9f22.760378","name":"initialize 1","topic":"init","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":140,"y":170,"wires":[["c32c4005.fcbd4","b90c981b.074148"]]},{"id":"ead8f89e.714348","type":"trigger","z":"de7d9f22.760378","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"pulse","x":680,"y":70,"wires":[["8687fd94.e0d8e8","5b6f8669.4e0d98","27949f77.cf5008"]]},{"id":"debb5175.2e2828","type":"inject","z":"de7d9f22.760378","name":"Blink on reboot","topic":"init","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.25","x":150,"y":70,"wires":[["ead8f89e.714348"]]},{"id":"4d2c4e30.7402a8","type":"switch","z":"de7d9f22.760378","name":"just positive flank","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":410,"wires":[["860da7e5.8b6278","d35d7013.4424a","ca4cbfb2.4f86e8"]]},{"id":"d1c0cacb.be8958","type":"function","z":"de7d9f22.760378","name":"invert it","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":510,"wires":[["9cde83e3.55fbc"]]},{"id":"860da7e5.8b6278","type":"change","z":"de7d9f22.760378","name":"replace with blinky state","rules":[{"t":"set","p":"payload","pt":"msg","to":"blinky","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":460,"wires":[["d1c0cacb.be8958"]]},{"id":"d30f07d2.90f18","type":"ui_slider","z":"de7d9f22.760378","name":"brightness slider","label":"LED brightness","group":"b1b8d22a.186668","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"brightness","min":"1","max":"100","step":"1","x":440,"y":360,"wires":[["a6fadeee.2e7d38"]]},{"id":"e5877670.b2e498","type":"inject","z":"de7d9f22.760378","name":"initialize 100","topic":"init","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":120,"wires":[["d30f07d2.90f18","1bd381d4.0c5f7e"]]},{"id":"a6fadeee.2e7d38","type":"change","z":"de7d9f22.760378","name":"set brightness status","rules":[{"t":"set","p":"brightness","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":360,"wires":[[]]},{"id":"8f9862e0.65b57","type":"function","z":"de7d9f22.760378","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'yellow';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":320,"wires":[["b818173a.ed0f38"]]},{"id":"a41f4583.95483","type":"function","z":"de7d9f22.760378","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'red';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":410,"wires":[["19d48dae.fb57aa"]]},{"id":"b90c981b.074148","type":"ui_slider","z":"de7d9f22.760378","name":"blinking mode slider","label":"Blinking mode","group":"b1b8d22a.186668","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"mode","min":"1","max":"2","step":1,"x":450,"y":410,"wires":[["b4e52c07.8fb978"]]},{"id":"b4e52c07.8fb978","type":"change","z":"de7d9f22.760378","name":"set mode status","rules":[{"t":"set","p":"mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":410,"wires":[[]]},{"id":"f0b851c.75f7f3","type":"switch","z":"de7d9f22.760378","name":"mode 2","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":360,"wires":[["3d1b784d.01c9f","4415b439.34af8c","92afcd7d.3e6048"]]},{"id":"5007728c.48d87c","type":"switch","z":"de7d9f22.760378","name":"mode 1","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":520,"wires":[["ffb13f85.8a6e9"]]},{"id":"4415b439.34af8c","type":"function","z":"de7d9f22.760378","name":"invert it","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":410,"wires":[["d7f93b00.189128"]]},{"id":"ffb13f85.8a6e9","type":"trigger","z":"de7d9f22.760378","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1050,"y":570,"wires":[["99db0467.118d48","3d1b784d.01c9f"]]},{"id":"99db0467.118d48","type":"delay","z":"de7d9f22.760378","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":620,"wires":[["d7f93b00.189128","c89e3a21.257ad"]]},{"id":"92afcd7d.3e6048","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 3","label":"Switch LED 3","group":"b1b8d22a.186668","order":6,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1420,"y":540,"wires":[["786a1612.54bfc8"]]},{"id":"786a1612.54bfc8","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":540,"wires":[["27949f77.cf5008","c30ce0d0.48989"]]},{"id":"27949f77.cf5008","type":"rpi-gpio out","z":"de7d9f22.760378","name":"Raspy LED 3","pin":"18","set":false,"level":"0","freq":"100","out":"pwm","x":1970,"y":540,"wires":[]},{"id":"3524f126.19487e","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"Form LED 3 dot","order":5,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1980,"y":500,"wires":[[]]},{"id":"c30ce0d0.48989","type":"function","z":"de7d9f22.760378","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'green';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":500,"wires":[["3524f126.19487e"]]},{"id":"c89e3a21.257ad","type":"delay","z":"de7d9f22.760378","name":"","pauseType":"delayv","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":670,"wires":[["92afcd7d.3e6048"]]},{"id":"d68245bd.6f107","type":"function","z":"de7d9f22.760378","name":"while loop","func":"// Required local variables\ncontext.delay = context.delay || 1000;\ncontext.toggle = context.toggle || false;\ncontext.active = context.active || false;\n\n// If new command-msg arrives,\n// change state accordingly\nif (msg.topic == \"command\"){\n    // Conditions for starting\n    if (msg.payload & !context.active) {\n        context.active = true;\n        context.toggle = true;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    // Conditions for stopping\n    } else if (!msg.payload & context.active) {\n        context.active = false;\n        context.toggle = false;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    }\n// If a message with a new delay arrived\n// take and accept the new delay. Inactivate\n// the message by setting the topic to command\n} else if (msg.topic == \"delay\"){\n    context.delay = msg.payload;\n    msg.topic = \"command\";\n// If not, just toggle the state\n} else {\n    context.toggle = !context.toggle;\n}\n\n// If loop is active and it is not a repeated\n// start command, generate and send msg\nif (context.active & msg.topic !== \"command\") {\n    msg.delay = context.delay;\n    msg.payload = context.toggle;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":690,"y":560,"wires":[["4daec061.ea9c38","bd4fc40d.939f4"]]},{"id":"1cd1af1a.79e0c9","type":"comment","z":"de7d9f22.760378","name":"Initialisations","info":"","x":140,"y":30,"wires":[]},{"id":"8afa2e18.43c618","type":"comment","z":"de7d9f22.760378","name":"Raspy-Button and signal-handling","info":"","x":200,"y":310,"wires":[]},{"id":"e50b1f91.1fd18","type":"comment","z":"de7d9f22.760378","name":"Controll-Form","info":"","x":420,"y":310,"wires":[]},{"id":"441978a8.e55298","type":"comment","z":"de7d9f22.760378","name":"Functions","info":"","x":690,"y":310,"wires":[]},{"id":"bfde7ecc.2f215","type":"comment","z":"de7d9f22.760378","name":"Different blinking modes","info":"","x":1080,"y":310,"wires":[]},{"id":"8c9cd2f.030fc3","type":"comment","z":"de7d9f22.760378","name":"Output to LED","info":"","x":1820,"y":270,"wires":[]},{"id":"ebe63fc3.ba35e","type":"comment","z":"de7d9f22.760378","name":"Form-Switches","info":"","x":1420,"y":310,"wires":[]},{"id":"3ebbbd03.45ff7a","type":"inject","z":"de7d9f22.760378","name":"initialize false","topic":"init","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":220,"wires":[["9cde83e3.55fbc","3d1b784d.01c9f","d7f93b00.189128","92afcd7d.3e6048"]]},{"id":"ca4cbfb2.4f86e8","type":"function","z":"de7d9f22.760378","name":"double click detector","func":"context.state = context.state || false;\nif (msg.topic !== \"reset\") {\n    if (context.state){\n        flow.mode += 1;\n        if (flow.mode > 2){\n            flow.mode = 1;\n        }\n    } else {\n        context.state = !context.state;\n    }\n\n} else {\n    context.state = false;\n}\n\nmsg.payload = context.state;\nreturn msg;","outputs":0,"noerr":0,"x":410,"y":790,"wires":[]},{"id":"d35d7013.4424a","type":"delay","z":"de7d9f22.760378","name":"double click dead time","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":740,"wires":[["a7d36b3.3706818"]]},{"id":"a7d36b3.3706818","type":"change","z":"de7d9f22.760378","name":"reset order","rules":[{"t":"set","p":"topic","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":790,"wires":[["ca4cbfb2.4f86e8"]]},{"id":"1bd381d4.0c5f7e","type":"ui_slider","z":"de7d9f22.760378","name":"blinking delay slider","label":"Blinking delay","group":"b1b8d22a.186668","order":11,"width":0,"height":0,"passthru":true,"outs":"end","topic":"mode","min":"100","max":"500","step":"10","x":440,"y":460,"wires":[["f476a6c4.c89dd"]]},{"id":"f476a6c4.c89dd","type":"change","z":"de7d9f22.760378","name":"set blinking delay","rules":[{"t":"move","p":"payload","pt":"msg","to":"blink_delay","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":460,"wires":[[]]},{"id":"bd4fc40d.939f4","type":"change","z":"de7d9f22.760378","name":"get delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"blink_delay","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":510,"wires":[["5007728c.48d87c","f0b851c.75f7f3"]]},{"id":"b1b8d22a.186668","type":"ui_group","z":"de7d9f22.760378","name":"Beleuchtung","tab":"9ffc1f3c.ffa73","order":2,"disp":true,"width":"6","collapse":false},{"id":"9ffc1f3c.ffa73","type":"ui_tab","z":"de7d9f22.760378","name":"RaspbyKrippe","icon":"dashboard","order":1}]