Weihnachtskrippe/v08.json
[{"id":"b981ac3c.6cf138","type":"delay","z":"de7d9f22.760378","name":"loop delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":630,"wires":[["8158c5e.685a8b8"]]},{"id":"789d6f54.09de58","type":"change","z":"de7d9f22.760378","name":"set blinky state","rules":[{"t":"set","p":"blinky","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":680,"wires":[[]]},{"id":"a410d016.6831e8","type":"rpi-gpio out","z":"de7d9f22.760378","name":"Raspy LED 1","pin":"12","set":false,"level":"0","freq":"100","out":"pwm","x":1940,"y":420,"wires":[]},{"id":"44f3e534.96fd24","type":"rpi-gpio out","z":"de7d9f22.760378","name":"Raspy LED 2","pin":"16","set":false,"level":"0","freq":"100","out":"pwm","x":1940,"y":510,"wires":[]},{"id":"9c51c847.9d9298","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":420,"wires":[["a410d016.6831e8","766e6d25.f1718c"]]},{"id":"d397c077.85f908","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":510,"wires":[["44f3e534.96fd24","ea884b0a.8208f"]]},{"id":"dc8fdb5c.8494f","type":"rpi-gpio in","z":"de7d9f22.760378","name":"Raspy Pushbutton","pin":"37","intype":"down","debounce":"25","read":false,"x":120,"y":420,"wires":[["3bed8492.c06474"]]},{"id":"c47123a2.52f048","type":"ui_switch","z":"de7d9f22.760378","name":"Automatic blinking","label":"Automatic blinking","group":"b1b8d22a.186668","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":570,"wires":[["789d6f54.09de58","8158c5e.685a8b8"]]},{"id":"37d26038.de7ac","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 1","label":"Switch LED 1","group":"b1b8d22a.186668","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1390,"y":420,"wires":[["9c51c847.9d9298"]]},{"id":"31d9a830.1918b","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 2","label":"Switch LED 2","group":"b1b8d22a.186668","order":4,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1390,"y":510,"wires":[["d397c077.85f908"]]},{"id":"5b769c1d.4ba944","type":"ui_slider","z":"de7d9f22.760378","name":"frequency slider","label":"Blink frequency","group":"b1b8d22a.186668","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"delay","min":"100","max":"1500","step":"100","x":400,"y":520,"wires":[["8158c5e.685a8b8"]]},{"id":"41eeb3dc.71567c","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"Form LED 1 dot","order":1,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1950,"y":380,"wires":[[]]},{"id":"d7e42fe8.ba6de8","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"Form LED 2 dot","order":3,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1950,"y":470,"wires":[[]]},{"id":"e70e3f46.dc2cf","type":"inject","z":"de7d9f22.760378","name":"initialize 1","topic":"init","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":110,"y":230,"wires":[["61f3d7c.1b49628"]]},{"id":"abc3003.7d6978","type":"trigger","z":"de7d9f22.760378","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"pulse","x":650,"y":130,"wires":[["a410d016.6831e8","44f3e534.96fd24","bca6f5b6.dadb6"]]},{"id":"46ac37e2.fa6c1","type":"inject","z":"de7d9f22.760378","name":"Blink on reboot","topic":"init","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.25","x":120,"y":130,"wires":[["abc3003.7d6978"]]},{"id":"3bed8492.c06474","type":"switch","z":"de7d9f22.760378","name":"just positive flank","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":470,"wires":[["6ef93a54.9e4944"]]},{"id":"5e26a2d.91f32dc","type":"function","z":"de7d9f22.760378","name":"invert it","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":570,"wires":[["c47123a2.52f048"]]},{"id":"6ef93a54.9e4944","type":"change","z":"de7d9f22.760378","name":"replace with blinky state","rules":[{"t":"set","p":"payload","pt":"msg","to":"blinky","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":520,"wires":[["5e26a2d.91f32dc"]]},{"id":"51d90de8.bdca6c","type":"ui_slider","z":"de7d9f22.760378","name":"brightness slider","label":"LED brightness","group":"b1b8d22a.186668","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"brightness","min":"1","max":"100","step":"1","x":410,"y":420,"wires":[["26ccdeca.2ec42a"]]},{"id":"8efac842.357558","type":"inject","z":"de7d9f22.760378","name":"initialize 100","topic":"init","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":180,"wires":[["51d90de8.bdca6c","5b769c1d.4ba944"]]},{"id":"26ccdeca.2ec42a","type":"change","z":"de7d9f22.760378","name":"set brightness status","rules":[{"t":"set","p":"brightness","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[[]]},{"id":"766e6d25.f1718c","type":"function","z":"de7d9f22.760378","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'yellow';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":380,"wires":[["41eeb3dc.71567c"]]},{"id":"ea884b0a.8208f","type":"function","z":"de7d9f22.760378","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'red';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":470,"wires":[["d7e42fe8.ba6de8"]]},{"id":"61f3d7c.1b49628","type":"ui_slider","z":"de7d9f22.760378","name":"blinking mode slider","label":"Blinking mode","group":"b1b8d22a.186668","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"mode","min":"1","max":"2","step":1,"x":420,"y":470,"wires":[["818a6985.ff36a8"]]},{"id":"818a6985.ff36a8","type":"change","z":"de7d9f22.760378","name":"set mode status","rules":[{"t":"set","p":"mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":470,"wires":[[]]},{"id":"b921b7fc.9069b8","type":"switch","z":"de7d9f22.760378","name":"mode 1","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":420,"wires":[["37d26038.de7ac","40123c0d.8d18dc","ad84d3b8.da7cc"]]},{"id":"f84fbe04.8c943","type":"switch","z":"de7d9f22.760378","name":"mode 2","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":580,"wires":[["43b87632.4c14a8"]]},{"id":"40123c0d.8d18dc","type":"function","z":"de7d9f22.760378","name":"invert it","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":470,"wires":[["31d9a830.1918b"]]},{"id":"43b87632.4c14a8","type":"trigger","z":"de7d9f22.760378","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1020,"y":630,"wires":[["fa25f64b.c55af","37d26038.de7ac"]]},{"id":"fa25f64b.c55af","type":"delay","z":"de7d9f22.760378","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":680,"wires":[["31d9a830.1918b","f285988f.d746c"]]},{"id":"ad84d3b8.da7cc","type":"ui_switch","z":"de7d9f22.760378","name":"Switch LED 3","label":"Switch LED 3","group":"b1b8d22a.186668","order":6,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1390,"y":600,"wires":[["8e1902fa.7bed78"]]},{"id":"8e1902fa.7bed78","type":"change","z":"de7d9f22.760378","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":600,"wires":[["bca6f5b6.dadb6","cae3acf3.009558"]]},{"id":"bca6f5b6.dadb6","type":"rpi-gpio out","z":"de7d9f22.760378","name":"Raspy LED 3","pin":"18","set":false,"level":"0","freq":"100","out":"pwm","x":1940,"y":600,"wires":[]},{"id":"a9b19399.c726f","type":"ui_template","z":"de7d9f22.760378","group":"b1b8d22a.186668","name":"Form LED 3 dot","order":5,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1950,"y":560,"wires":[[]]},{"id":"cae3acf3.009558","type":"function","z":"de7d9f22.760378","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'green';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":560,"wires":[["a9b19399.c726f"]]},{"id":"f285988f.d746c","type":"delay","z":"de7d9f22.760378","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":730,"wires":[["ad84d3b8.da7cc"]]},{"id":"8158c5e.685a8b8","type":"function","z":"de7d9f22.760378","name":"while loop","func":"// Required local variables\ncontext.delay = context.delay || 1000;\ncontext.toggle = context.toggle || false;\ncontext.active = context.active || false;\n\n// If new command-msg arrives,\n// change state accordingly\nif (msg.topic == \"command\"){\n    // Conditions for starting\n    if (msg.payload & !context.active) {\n        context.active = true;\n        context.toggle = true;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    // Conditions for stopping\n    } else if (!msg.payload & context.active) {\n        context.active = false;\n        context.toggle = false;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    }\n// If a message with a new delay arrived\n// take and accept the new delay. Inactivate\n// the message by setting the topic to command\n} else if (msg.topic == \"delay\"){\n    context.delay = msg.payload;\n    msg.topic = \"command\";\n// If not, just toggle the state\n} else {\n    context.toggle = !context.toggle;\n}\n\n// If loop is active and it is not a repeated\n// start command, generate and send msg\nif (context.active & msg.topic !== \"command\") {\n    msg.delay = context.delay;\n    msg.payload = context.toggle;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":660,"y":570,"wires":[["b981ac3c.6cf138","b921b7fc.9069b8","f84fbe04.8c943"]]},{"id":"df54e783.b8cd18","type":"comment","z":"de7d9f22.760378","name":"Initialisations","info":"","x":110,"y":90,"wires":[]},{"id":"2abb4624.b1791a","type":"comment","z":"de7d9f22.760378","name":"Raspy-Button and signal-handling","info":"","x":170,"y":370,"wires":[]},{"id":"84a1d44a.966748","type":"comment","z":"de7d9f22.760378","name":"Controll-Form","info":"","x":390,"y":370,"wires":[]},{"id":"503cd347.dc4c9c","type":"comment","z":"de7d9f22.760378","name":"Functions","info":"","x":660,"y":370,"wires":[]},{"id":"43537c3.6e1ca84","type":"comment","z":"de7d9f22.760378","name":"Different blinking modes","info":"","x":1050,"y":370,"wires":[]},{"id":"71ef8e0.7da1574","type":"comment","z":"de7d9f22.760378","name":"Output to LED","info":"","x":1790,"y":330,"wires":[]},{"id":"2483b95a.b61516","type":"comment","z":"de7d9f22.760378","name":"Form-Switches","info":"","x":1390,"y":370,"wires":[]},{"id":"ad833ef6.eed2d","type":"inject","z":"de7d9f22.760378","name":"initialize false","topic":"init","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":120,"y":280,"wires":[["c47123a2.52f048","37d26038.de7ac","31d9a830.1918b","ad84d3b8.da7cc"]]},{"id":"b1b8d22a.186668","type":"ui_group","z":"de7d9f22.760378","name":"Beleuchtung","tab":"9ffc1f3c.ffa73","order":2,"disp":true,"width":"6","collapse":false},{"id":"9ffc1f3c.ffa73","type":"ui_tab","z":"de7d9f22.760378","name":"RaspbyKrippe","icon":"dashboard","order":1}]