Weihnachtskrippe/v12.json
[{"id":"9790f330.e33ec","type":"delay","z":"3d32d55d.b9fa22","name":"loop delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":540,"wires":[["d5cbf0ee.bd1d2"]]},{"id":"88c4a48a.cd391","type":"change","z":"3d32d55d.b9fa22","name":"set blinky state","rules":[{"t":"set","p":"blinky","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":590,"wires":[["17e91198.00e15e","d5ee452c.18cdb8"]]},{"id":"66d5d22a.e0ba54","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy LED 1","pin":"37","set":false,"level":"0","freq":"100","out":"pwm","x":1940,"y":330,"wires":[]},{"id":"26ad76f0.593dea","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy LED 2","pin":"35","set":false,"level":"0","freq":"100","out":"pwm","x":1940,"y":420,"wires":[]},{"id":"f70efdf0.b9b06","type":"change","z":"3d32d55d.b9fa22","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":330,"wires":[["66d5d22a.e0ba54","a7bb366.28c6bc8"]]},{"id":"47bde761.6284a","type":"change","z":"3d32d55d.b9fa22","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":420,"wires":[["26ad76f0.593dea","864d9c7b.f49e38"]]},{"id":"67c8a927.53eeb","type":"rpi-gpio in","z":"3d32d55d.b9fa22","name":"Raspy Pushbutton","pin":"22","intype":"down","debounce":"25","read":false,"x":120,"y":330,"wires":[["4ad83263.902d8c"]]},{"id":"6f8c3e45.5305b","type":"ui_switch","z":"3d32d55d.b9fa22","name":"Automatic blinking","label":"Automatic blinking","group":"be0fc527.8ea2c8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":480,"wires":[["88c4a48a.cd391","d5cbf0ee.bd1d2","1ab38fbb.53eac","12da6c10.6f088c"]]},{"id":"18d8823a.a1cc36","type":"ui_switch","z":"3d32d55d.b9fa22","name":"Switch LED 1","label":"Switch LED 1","group":"2a18bfcb.a2411","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1390,"y":330,"wires":[["f70efdf0.b9b06"]]},{"id":"c7a55bdd.02fb8","type":"ui_switch","z":"3d32d55d.b9fa22","name":"Switch LED 2","label":"Switch LED 2","group":"2a18bfcb.a2411","order":4,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1390,"y":420,"wires":[["47bde761.6284a"]]},{"id":"44c8ba30.94104c","type":"ui_slider","z":"3d32d55d.b9fa22","name":"frequency slider","label":"Blink frequency","group":"be0fc527.8ea2c8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"delay","min":"600","max":"2500","step":"100","x":400,"y":430,"wires":[["d5cbf0ee.bd1d2","6f2da4a9.4ad3ec"]]},{"id":"6ce5166c.9cb088","type":"ui_template","z":"3d32d55d.b9fa22","group":"2a18bfcb.a2411","name":"Form LED 1 dot","order":1,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1950,"y":290,"wires":[[]]},{"id":"f048efa4.e4836","type":"ui_template","z":"3d32d55d.b9fa22","group":"2a18bfcb.a2411","name":"Form LED 2 dot","order":3,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1950,"y":380,"wires":[[]]},{"id":"3031529f.91143e","type":"inject","z":"3d32d55d.b9fa22","name":"initialize 1","topic":"init","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":110,"y":90,"wires":[["c17a896d.f4316","8acccea3.6255"]]},{"id":"4ad83263.902d8c","type":"switch","z":"3d32d55d.b9fa22","name":"just positive flank","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":380,"wires":[["d17de036.90e06"]]},{"id":"6b4d85af.f759d4","type":"function","z":"3d32d55d.b9fa22","name":"invert it","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":480,"wires":[["6f8c3e45.5305b"]]},{"id":"d17de036.90e06","type":"change","z":"3d32d55d.b9fa22","name":"replace with blinky state","rules":[{"t":"set","p":"payload","pt":"msg","to":"blinky","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":430,"wires":[["6b4d85af.f759d4"]],"outputLabels":["stete of flow.blinky as msg.payload"]},{"id":"ac272be7.e4b8b","type":"ui_slider","z":"3d32d55d.b9fa22","name":"brightness slider","label":"LED brightness","group":"be0fc527.8ea2c8","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"brightness","min":"1","max":"100","step":"1","x":410,"y":380,"wires":[["b89ab156.536158","5dc9cee6.f00198"]]},{"id":"b89ab156.536158","type":"change","z":"3d32d55d.b9fa22","name":"set brightness status","rules":[{"t":"set","p":"brightness","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":380,"wires":[[]]},{"id":"a7bb366.28c6bc8","type":"function","z":"3d32d55d.b9fa22","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'yellow';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":290,"wires":[["6ce5166c.9cb088"]]},{"id":"864d9c7b.f49e38","type":"function","z":"3d32d55d.b9fa22","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'red';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":380,"wires":[["f048efa4.e4836"]]},{"id":"c17a896d.f4316","type":"ui_slider","z":"3d32d55d.b9fa22","name":"blinking mode slider","label":"Blinking mode","tooltip":"","group":"be0fc527.8ea2c8","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"mode","min":"0","max":"3","step":1,"x":410,"y":330,"wires":[["7c67c610.66aa88","cc2077c6.6467b"]]},{"id":"7c67c610.66aa88","type":"change","z":"3d32d55d.b9fa22","name":"set mode status","rules":[{"t":"set","p":"mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":330,"wires":[[]]},{"id":"3f05eb5.5132f94","type":"switch","z":"3d32d55d.b9fa22","name":"mode 2","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":840,"wires":[["18d8823a.a1cc36","cf81ea55.fcac98","8cfc54b7.3edef8","e8944b85.32d18"]]},{"id":"706ca01f.2f9cc8","type":"switch","z":"3d32d55d.b9fa22","name":"mode 1","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":840,"wires":[["6f2b3ca9.8de7e4"]]},{"id":"cf81ea55.fcac98","type":"function","z":"3d32d55d.b9fa22","name":"invert signal","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":880,"wires":[["c7a55bdd.02fb8","c40ef835.fe1b28","ecb5aa4e.95521"]]},{"id":"6f2b3ca9.8de7e4","type":"trigger","z":"3d32d55d.b9fa22","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":590,"y":890,"wires":[["d4425399.4e7ae8","18d8823a.a1cc36"]]},{"id":"d4425399.4e7ae8","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":940,"wires":[["c7a55bdd.02fb8","294ec3fc.573fac"]]},{"id":"8cfc54b7.3edef8","type":"ui_switch","z":"3d32d55d.b9fa22","name":"Switch LED 3","label":"Switch LED 3","group":"2a18bfcb.a2411","order":6,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1390,"y":510,"wires":[["eb01d042.fce42"]]},{"id":"eb01d042.fce42","type":"change","z":"3d32d55d.b9fa22","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":510,"wires":[["7cf8bb14.9609ec","2b7b75fb.b868da"]]},{"id":"40397f16.cdf748","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy LED 3","pin":"33","set":false,"level":"0","freq":"100","out":"pwm","x":1940,"y":510,"wires":[]},{"id":"37454e48.eea1aa","type":"ui_template","z":"3d32d55d.b9fa22","group":"2a18bfcb.a2411","name":"Form LED 3 dot","order":5,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1950,"y":470,"wires":[[]]},{"id":"7cf8bb14.9609ec","type":"function","z":"3d32d55d.b9fa22","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'green';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":470,"wires":[["37454e48.eea1aa"]]},{"id":"294ec3fc.573fac","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":990,"wires":[["8cfc54b7.3edef8","edcec7c9.aff6b"]]},{"id":"d5cbf0ee.bd1d2","type":"function","z":"3d32d55d.b9fa22","name":"while loop","func":"// Required local variables\ncontext.delay = context.delay || 1000;\ncontext.toggle = context.toggle || false;\ncontext.active = context.active || false;\n\n// If new command-msg arrives,\n// change state accordingly\nif (msg.topic == \"command\"){\n    // Conditions for starting\n    if (msg.payload & !context.active) {\n        context.active = true;\n        context.toggle = true;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    // Conditions for stopping\n    } else if (!msg.payload & context.active) {\n        context.active = false;\n        context.toggle = false;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    }\n// If a message with a new delay arrived\n// take and accept the new delay. Inactivate\n// the message by setting the topic to command\n} else if (msg.topic == \"delay\"){\n    context.delay = msg.payload;\n    msg.topic = \"command\";\n// If not, just toggle the state\n} else {\n    context.toggle = !context.toggle;\n}\n\n// If loop is active and it is not a repeated\n// start command, generate and send msg\nif (context.active & msg.topic !== \"command\") {\n    msg.delay = context.delay;\n    msg.payload = context.toggle;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":660,"y":480,"wires":[["9790f330.e33ec","3f05eb5.5132f94","706ca01f.2f9cc8","5d8a50ee.10a438"]]},{"id":"a7bc5e75.9cf738","type":"comment","z":"3d32d55d.b9fa22","name":"Initialisations","info":"","x":110,"y":40,"wires":[]},{"id":"4d9b081c.9282a8","type":"comment","z":"3d32d55d.b9fa22","name":"Push-Button and signal-handling","info":"","x":160,"y":280,"wires":[]},{"id":"8fb89be4.fedc28","type":"comment","z":"3d32d55d.b9fa22","name":"Controll-Form","info":"","x":390,"y":280,"wires":[]},{"id":"33bb361f.a941b2","type":"comment","z":"3d32d55d.b9fa22","name":"Functions","info":"","x":660,"y":280,"wires":[]},{"id":"b168f28b.dbf188","type":"comment","z":"3d32d55d.b9fa22","name":"Different blinking modes","info":"","x":1050,"y":280,"wires":[]},{"id":"6ed5f027.803ee","type":"comment","z":"3d32d55d.b9fa22","name":"Output to LED","info":"","x":1790,"y":240,"wires":[]},{"id":"72503c5a.d2c31c","type":"comment","z":"3d32d55d.b9fa22","name":"Form-Switches","info":"","x":1390,"y":280,"wires":[]},{"id":"7f0a6fe.6f39b1","type":"inject","z":"3d32d55d.b9fa22","name":"initialize false","topic":"init","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":120,"y":140,"wires":[["6f8c3e45.5305b","18d8823a.a1cc36","c7a55bdd.02fb8","8cfc54b7.3edef8","e8944b85.32d18","1ab38fbb.53eac","17e91198.00e15e","d5ee452c.18cdb8"]]},{"id":"8acccea3.6255","type":"function","z":"3d32d55d.b9fa22","name":"scale to 100","func":"msg.payload *= 100;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":90,"wires":[["3ede96a.6bb7dea","ac272be7.e4b8b"]]},{"id":"3ede96a.6bb7dea","type":"function","z":"3d32d55d.b9fa22","name":"scale to 1000","func":"msg.payload *= 10;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":90,"wires":[["44c8ba30.94104c"]]},{"id":"2b7b75fb.b868da","type":"function","z":"3d32d55d.b9fa22","name":"scaling green","func":"var scaling_factor = 0.1;\n\nif (msg.payload > 0){\n    msg.payload = Math.max(parseInt(msg.payload*scaling_factor),1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":510,"wires":[["40397f16.cdf748"]]},{"id":"7b395f9c.6aa268","type":"rpi-gpio in","z":"3d32d55d.b9fa22","name":"pull-down-input","pin":"32","intype":"up","debounce":"25","read":false,"x":100,"y":640,"wires":[["4b1b50e7.da58c"]]},{"id":"4b1b50e7.da58c","type":"function","z":"3d32d55d.b9fa22","name":"cool off","func":"context.state = context.state || false;\ncontext.wait = context.wait || false;\n\nif (msg.payload === 1 & context.wait === false) {\n    context.state = !context.state;\n    context.wait = true;\n    return [{topic:'command',payload:context.state},{payload:'reset'}]\n} else if (msg.payload == 'reset'){\n    context.wait = false; \n}","outputs":2,"noerr":0,"x":310,"y":640,"wires":[["6f8c3e45.5305b","94188c0d.f9f38"],["9d573bb7.2e5f5"]]},{"id":"9d573bb7.2e5f5","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":690,"wires":[["4b1b50e7.da58c"]]},{"id":"c40ef835.fe1b28","type":"ui_switch","z":"3d32d55d.b9fa22","name":"Switch LED 4","label":"Switch LED 4","group":"2a18bfcb.a2411","order":8,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1390,"y":600,"wires":[["d4748a69.a70048"]]},{"id":"d4748a69.a70048","type":"change","z":"3d32d55d.b9fa22","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":600,"wires":[["47b63185.88f028","f7ebf2c0.781f8"]]},{"id":"f7ebf2c0.781f8","type":"function","z":"3d32d55d.b9fa22","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'yellow';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":560,"wires":[["df986b13.427cc8"]]},{"id":"df986b13.427cc8","type":"ui_template","z":"3d32d55d.b9fa22","group":"2a18bfcb.a2411","name":"Form LED 4 dot","order":7,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1950,"y":560,"wires":[[]]},{"id":"47b63185.88f028","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy LED 4","pin":"31","set":false,"level":"0","freq":"100","out":"pwm","x":1940,"y":600,"wires":[]},{"id":"edcec7c9.aff6b","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1040,"wires":[["c40ef835.fe1b28","549869c8.c4d1c8"]]},{"id":"e8944b85.32d18","type":"ui_switch","z":"3d32d55d.b9fa22","name":"Switch LED 5","label":"Switch LED 5","group":"2a18bfcb.a2411","order":10,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1390,"y":690,"wires":[["d5613741.b98ef8"]]},{"id":"d5613741.b98ef8","type":"change","z":"3d32d55d.b9fa22","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":690,"wires":[["b75111d8.e32d68","b0fe661d.5feb8"]]},{"id":"b0fe661d.5feb8","type":"function","z":"3d32d55d.b9fa22","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'brown';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":650,"wires":[["7c5c376c.24a49"]]},{"id":"7c5c376c.24a49","type":"ui_template","z":"3d32d55d.b9fa22","group":"2a18bfcb.a2411","name":"Form LED 5 dot","order":9,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1950,"y":650,"wires":[[]]},{"id":"b75111d8.e32d68","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy LED 5","pin":"29","set":false,"level":"0","freq":"100","out":"pwm","x":1940,"y":690,"wires":[]},{"id":"f8480545.326f3","type":"ledborg","z":"3d32d55d.b9fa22","name":"Raspy LED Star","x":1950,"y":790,"wires":[]},{"id":"549869c8.c4d1c8","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1090,"wires":[["f049f3d4.d3624","e8944b85.32d18"]]},{"id":"f049f3d4.d3624","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1140,"wires":[["cd5968b9.1f6668"]]},{"id":"b9416bfb.7ee008","type":"function","z":"3d32d55d.b9fa22","name":"Random colors","func":"if (msg.payload === true){\n    let r = parseInt(Math.random()*1*255);\n    let g = parseInt(Math.random()*0.2*255);\n    let b = parseInt(Math.random()*1*255);\n    msg.payload = `${r},${g},${b}`\n    \n    let r_hex = '00'+r.toString(16);\n    let g_hex = '00'+g.toString(16);\n    let b_hex = '00'+b.toString(16);\n    \n    let hex_color = '#'+r_hex.substr(r_hex.length - 2) + g_hex.substr(g_hex.length - 2) + b_hex.substr(b_hex.length - 2);\n    return [{payload:hex_color},msg]\n} else if (msg.payload === false){\n    return [{payload:'black'},{payload:'0,0,0'}]\n}","outputs":2,"noerr":0,"x":1740,"y":780,"wires":[["f1c28d4c.17f9f8"],["f8480545.326f3"]]},{"id":"f1c28d4c.17f9f8","type":"ui_template","z":"3d32d55d.b9fa22","group":"2a18bfcb.a2411","name":"Form LED Star dot","order":11,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1960,"y":750,"wires":[[]]},{"id":"1ab38fbb.53eac","type":"ui_switch","z":"3d32d55d.b9fa22","name":"Switch LED Star","label":"Switch LED Star","group":"2a18bfcb.a2411","order":12,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED Star","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1540,"y":780,"wires":[["b9416bfb.7ee008"]]},{"id":"9891e755.5ef31","type":"ui_colour_picker","z":"3d32d55d.b9fa22","name":"Color picker","label":"Color picker for star","group":"be0fc527.8ea2c8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":7,"width":"6","height":"1","passthru":true,"topic":"color","x":1370,"y":850,"wires":[["3419e9f3.73cf56"]]},{"id":"9df56194.a42a9","type":"function","z":"3d32d55d.b9fa22","name":"int to hex value","func":"msg.payload = '#'+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":850,"wires":[["f8480545.326f3","f1c28d4c.17f9f8"]]},{"id":"9a7897a0.dff61","type":"comment","z":"3d32d55d.b9fa22","name":"Activation with human-pulldown","info":"","x":160,"y":590,"wires":[]},{"id":"3419e9f3.73cf56","type":"ui_text_input","z":"3d32d55d.b9fa22","name":"Color picker value","label":"Color value","group":"be0fc527.8ea2c8","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1580,"y":850,"wires":[["9df56194.a42a9"]]},{"id":"6b02b9bc.8d4fd8","type":"function","z":"3d32d55d.b9fa22","name":"flame generatord","func":"context.state = context.state || false;\n\nlet black = '#000000'\n\nif (msg.topic == 'command'){\n    context.state = msg.payload;\n    msg.topic = 'repeat';\n}\n\nif (context.state === true & msg.payload != black){\n    let colors = ['500200','700200','a00000','a00101'];\n    var idx = Math.round(Math.random()*(colors.length))\n    idx = Math.min(idx,colors.length-1)\n    let color = colors[idx]\n    msg.payload = '#'+color;\n    return msg\n} else if (context.state === false & msg.payload != black){\n    msg.payload = black;\n    return msg\n}","outputs":1,"noerr":0,"x":1620,"y":940,"wires":[["8ebbaf61.fc24b","b61406f9.da5f9"]]},{"id":"8ebbaf61.fc24b","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0.05","randomLast":"0.25","randomUnits":"seconds","drop":false,"x":1590,"y":990,"wires":[["6b02b9bc.8d4fd8"]]},{"id":"5d8a50ee.10a438","type":"switch","z":"3d32d55d.b9fa22","name":"mode 3","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":984,"y":840,"wires":[["7eb06460.563d1c"]]},{"id":"7eb06460.563d1c","type":"trigger","z":"3d32d55d.b9fa22","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"600","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1004,"y":890,"wires":[["ac30156d.17596","18d8823a.a1cc36"]]},{"id":"ac30156d.17596","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":994,"y":940,"wires":[["5c704807.3403a8","c7a55bdd.02fb8"]]},{"id":"5c704807.3403a8","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":994,"y":990,"wires":[["f1901113.eac0d","8cfc54b7.3edef8"]]},{"id":"f1901113.eac0d","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":994,"y":1040,"wires":[["9c5c2aa1.4c8a68","c40ef835.fe1b28"]]},{"id":"9c5c2aa1.4c8a68","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":994,"y":1090,"wires":[["e8944b85.32d18","ecb5aa4e.95521"]]},{"id":"17e91198.00e15e","type":"ui_switch","z":"3d32d55d.b9fa22","name":"Red flames switch","label":"Red flames","group":"be0fc527.8ea2c8","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1400,"y":940,"wires":[["6b02b9bc.8d4fd8","1ca937ed.515d28"]]},{"id":"491f5851.f59cd8","type":"function","z":"3d32d55d.b9fa22","name":"flame generator 2","func":"context.state = context.state || false;\n\nlet black = '#000000'\n\nif (msg.topic == 'command'){\n    context.state = msg.payload;\n    msg.topic = 'repeat';\n}\n\nif (context.state === true & msg.payload != black){\n    let colors = ['2e0022','3a0047','090042','0f000e'];\n    var idx = Math.round(Math.random()*(colors.length))\n    idx = Math.min(idx,colors.length-1)\n    let color = colors[idx]\n    msg.payload = '#'+color;\n    return msg\n} else if (context.state === false & msg.payload != black){\n    msg.payload = black;\n    return msg\n}","outputs":1,"noerr":0,"x":1620,"y":1050,"wires":[["f68725b3.50fec","e6ac46df.508db8"]]},{"id":"f68725b3.50fec","type":"delay","z":"3d32d55d.b9fa22","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0.5","randomLast":"1","randomUnits":"seconds","drop":false,"x":1590,"y":1100,"wires":[["491f5851.f59cd8"]]},{"id":"d5ee452c.18cdb8","type":"ui_switch","z":"3d32d55d.b9fa22","name":"Blue flames switch","label":"Blue flames","group":"be0fc527.8ea2c8","order":3,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1400,"y":1050,"wires":[["491f5851.f59cd8","9d7b9543.69fc"]]},{"id":"b61406f9.da5f9","type":"function","z":"3d32d55d.b9fa22","name":"split up RGB","func":"let color = msg.payload.slice(1,-1);\nlet r = parseInt(color.slice(0,2),16)/250*100\nlet g = parseInt(color.slice(2,4),16)/250*100\nlet b = parseInt(color.slice(4,6),16)/250*100\nreturn [{payload:r},{payload:g},{payload:b}];","outputs":3,"noerr":0,"x":1930,"y":940,"wires":[["7638bf3e.960a9"],["408c5668.e28cd8"],["ab20b84a.f86918"]],"inputLabels":["RGB as hex with leading #"],"outputLabels":["Red as INT","Green as INT","Blue as INT"]},{"id":"7638bf3e.960a9","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy Lamp R","pin":"12","set":false,"level":"0","freq":"50","out":"pwm","x":2130,"y":880,"wires":[]},{"id":"408c5668.e28cd8","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy Lamp G","pin":"16","set":false,"level":"0","freq":"50","out":"pwm","x":2130,"y":940,"wires":[]},{"id":"ab20b84a.f86918","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy Lamp B","pin":"18","set":false,"level":"0","freq":"50","out":"pwm","x":2130,"y":1000,"wires":[]},{"id":"e6ac46df.508db8","type":"function","z":"3d32d55d.b9fa22","name":"split up RGB","func":"let color = msg.payload.slice(1,-1);\nlet r = parseInt(color.slice(0,2),16)/250*100\nlet g = parseInt(color.slice(2,4),16)/250*100\nlet b = parseInt(color.slice(4,6),16)/250*100\nreturn [{payload:r},{payload:g},{payload:b}];","outputs":3,"noerr":0,"x":1930,"y":1120,"wires":[["4f88f2ed.9cf5d4"],["ddd7a85e.ab518"],["1a46e5ce.a0ac6a"]],"inputLabels":["RGB as hex with leading #"],"outputLabels":["Red as INT","Green as INT","Blue as INT"]},{"id":"4f88f2ed.9cf5d4","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy Lamp R","pin":"36","set":false,"level":"0","freq":"50","out":"pwm","x":2130,"y":1060,"wires":[]},{"id":"ddd7a85e.ab518","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy Lamp G","pin":"38","set":false,"level":"0","freq":"50","out":"pwm","x":2130,"y":1120,"wires":[]},{"id":"1a46e5ce.a0ac6a","type":"rpi-gpio out","z":"3d32d55d.b9fa22","name":"Raspy Lamp B","pin":"40","set":false,"level":"0","freq":"50","out":"pwm","x":2130,"y":1180,"wires":[]},{"id":"cd5968b9.1f6668","type":"switch","z":"3d32d55d.b9fa22","name":"just turn on","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":1190,"wires":[["ecb5aa4e.95521"]]},{"id":"ecb5aa4e.95521","type":"change","z":"3d32d55d.b9fa22","name":"replace with blinky state","rules":[{"t":"set","p":"payload","pt":"msg","to":"blinky","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":780,"wires":[["1ab38fbb.53eac"]],"outputLabels":["stete of flow.blinky as msg.payload"]},{"id":"d5b7bc57.1c666","type":"mysql","z":"3d32d55d.b9fa22","mydb":"c8bf204d.b06a58","name":"SQL_Database","x":160,"y":1060,"wires":[["489fb1e6.9d2588"]]},{"id":"489fb1e6.9d2588","type":"template","z":"3d32d55d.b9fa22","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT *\nFROM data\nORDER BY id DESC\nLIMIT 3","output":"str","x":160,"y":1120,"wires":[["86abd117.1b418"]]},{"id":"86abd117.1b418","type":"mysql","z":"3d32d55d.b9fa22","mydb":"c8bf204d.b06a58","name":"SQL_Database","x":160,"y":1180,"wires":[["57d43b09.4f8844"]]},{"id":"94188c0d.f9f38","type":"function","z":"3d32d55d.b9fa22","name":"generate Query injection","func":"if (msg.payload === true){\n    msg.topic = \"INSERT INTO data (payload) values ('Über Knete aktiviert.')\"\n} else {\n   msg.topic = \"INSERT INTO data (payload) values ('Über Knete deaktiviert.')\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1000,"wires":[["d5b7bc57.1c666"]]},{"id":"57d43b09.4f8844","type":"ui_template","z":"3d32d55d.b9fa22","group":"bcec7f23.86d4c","name":"","order":12,"width":"6","height":"7","format":"<div>\n    <h1>Letzte Bedienanweisungen</h1>\n    <table border=\"1\">\n        <th>Zeitstempel</th>\n        <th>Kommando</th>\n        <tr>\n            <td>{{msg.payload[0].timestamp}}</td>\n            <td>{{msg.payload[0].payload}}</td>\n        </tr>\n        <tr>\n            <td>{{msg.payload[1].timestamp}}</td>\n            <td>{{msg.payload[1].payload}}</td>\n        </tr>\n       <tr>\n            <td>{{msg.payload[2].timestamp}}</td>\n            <td>{{msg.payload[2].payload}}</td>\n        </tr>\n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":340,"y":1180,"wires":[[]]},{"id":"12da6c10.6f088c","type":"function","z":"3d32d55d.b9fa22","name":"generate Query injection","func":"if (msg.payload === true){\n    msg.topic = \"INSERT INTO data (payload) values ('Automatisch Blinken ein.')\"\n} else {\n   msg.topic = \"INSERT INTO data (payload) values ('Automatisch Blinken aus.')\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":960,"wires":[["d5b7bc57.1c666"]]},{"id":"cc2077c6.6467b","type":"function","z":"3d32d55d.b9fa22","name":"generate Query injection","func":"msg.topic = \"INSERT INTO data (payload) values ('Modus \"+msg.payload+\" gewählt')\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":920,"wires":[["d5b7bc57.1c666"]]},{"id":"5dc9cee6.f00198","type":"function","z":"3d32d55d.b9fa22","name":"generate Query injection","func":"msg.topic = \"INSERT INTO data (payload) values ('LED Lichtstärke auf \"+msg.payload+\" gesetzt')\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":880,"wires":[["d5b7bc57.1c666"]]},{"id":"6f2da4a9.4ad3ec","type":"function","z":"3d32d55d.b9fa22","name":"generate Query injection","func":"msg.topic = \"INSERT INTO data (payload) values ('Blinkfrequenz auf \"+msg.payload+\"ms gesetzt')\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":840,"wires":[["d5b7bc57.1c666"]]},{"id":"1ca937ed.515d28","type":"function","z":"3d32d55d.b9fa22","name":"generate Query injection","func":"if (msg.payload === true){\n    msg.topic = \"INSERT INTO data (payload) values ('Laterne ein.')\"\n} else {\n   msg.topic = \"INSERT INTO data (payload) values ('Laterne aus.')\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":800,"wires":[["d5b7bc57.1c666"]]},{"id":"9d7b9543.69fc","type":"function","z":"3d32d55d.b9fa22","name":"generate Query injection","func":"if (msg.payload === true){\n    msg.topic = \"INSERT INTO data (payload) values ('Stab ein.')\"\n} else {\n   msg.topic = \"INSERT INTO data (payload) values ('Stab aus.')\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":760,"wires":[["d5b7bc57.1c666"]]},{"id":"be0fc527.8ea2c8","type":"ui_group","z":"","name":"Settings","tab":"d78d1190.911578","order":2,"disp":true,"width":"6","collapse":false},{"id":"2a18bfcb.a2411","type":"ui_group","z":"3d32d55d.b9fa22","name":"LEDs","tab":"d78d1190.911578","order":1,"disp":true,"width":"6","collapse":false},{"id":"c8bf204d.b06a58","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"node_red","tz":""},{"id":"bcec7f23.86d4c","type":"ui_group","z":"","name":"Monitoring","tab":"d78d1190.911578","order":3,"disp":true,"width":"6","collapse":false},{"id":"d78d1190.911578","type":"ui_tab","z":"3d32d55d.b9fa22","name":"Raspberry-Krippe","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
