Weihnachtskrippe/v12.json
[{"id":"4a6815dd.dab23c","type":"delay","z":"ba13d221.3f6c","name":"loop delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":540,"wires":[["9570926c.0d787"]]},{"id":"bc69c45d.55d388","type":"change","z":"ba13d221.3f6c","name":"set blinky state","rules":[{"t":"set","p":"blinky","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":590,"wires":[["1f2a15f0.dbd3a2","762322ff.230dcc"]]},{"id":"7f3b41ff.304f68","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy LED 1","pin":"37","set":false,"level":"0","freq":"100","out":"pwm","x":1920,"y":330,"wires":[]},{"id":"930e672f.c04688","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy LED 2","pin":"35","set":false,"level":"0","freq":"100","out":"pwm","x":1920,"y":420,"wires":[]},{"id":"13d09743.5314e9","type":"change","z":"ba13d221.3f6c","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":330,"wires":[["7f3b41ff.304f68","dd307d3c.60869"]]},{"id":"26aa280e.582d3","type":"change","z":"ba13d221.3f6c","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":420,"wires":[["930e672f.c04688","1f4b7e2e.f57b02"]]},{"id":"b380031b.09f6b8","type":"rpi-gpio in","z":"ba13d221.3f6c","name":"Raspy Pushbutton","pin":"22","intype":"down","debounce":"25","read":false,"x":100,"y":330,"wires":[["d646b1f2.95265"]]},{"id":"8e4a17e3.6631b","type":"ui_switch","z":"ba13d221.3f6c","name":"Automatic blinking","label":"Automatic blinking","group":"bf3d7b54.ee48e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":480,"wires":[["bc69c45d.55d388","9570926c.0d787","4db3734e.01081c","4866ea98.f2b684"]]},{"id":"6dd8a3b1.b47644","type":"ui_switch","z":"ba13d221.3f6c","name":"Switch LED 1","label":"Switch LED 1","group":"2371e47e.2860a4","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1370,"y":330,"wires":[["13d09743.5314e9"]]},{"id":"4e7aa187.4fe34","type":"ui_switch","z":"ba13d221.3f6c","name":"Switch LED 2","label":"Switch LED 2","group":"2371e47e.2860a4","order":4,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1370,"y":420,"wires":[["26aa280e.582d3"]]},{"id":"a5f92481.74c12","type":"ui_slider","z":"ba13d221.3f6c","name":"frequency slider","label":"Blink frequency","group":"bf3d7b54.ee48e","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"delay","min":"600","max":"2500","step":"100","x":380,"y":430,"wires":[["9570926c.0d787","6c9870c.e9f1e9"]]},{"id":"92794d13.a3fa78","type":"ui_template","z":"ba13d221.3f6c","group":"2371e47e.2860a4","name":"Form LED 1 dot","order":1,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1930,"y":290,"wires":[[]]},{"id":"aa7349e2.2a6538","type":"ui_template","z":"ba13d221.3f6c","group":"2371e47e.2860a4","name":"Form LED 2 dot","order":3,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1930,"y":380,"wires":[[]]},{"id":"90ad5970.987e88","type":"inject","z":"ba13d221.3f6c","name":"initialize 1","topic":"init","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":90,"y":90,"wires":[["e6792018.0713c","291c1332.d5b564"]]},{"id":"d646b1f2.95265","type":"switch","z":"ba13d221.3f6c","name":"just positive flank","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":100,"y":380,"wires":[["b0c78339.24a86"]]},{"id":"8c02063c.6a116","type":"function","z":"ba13d221.3f6c","name":"invert it","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":480,"wires":[["8e4a17e3.6631b"]]},{"id":"b0c78339.24a86","type":"change","z":"ba13d221.3f6c","name":"replace with blinky state","rules":[{"t":"set","p":"payload","pt":"msg","to":"blinky","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":430,"wires":[["8c02063c.6a116"]],"outputLabels":["stete of flow.blinky as msg.payload"]},{"id":"ca6c8498.4f97e8","type":"ui_slider","z":"ba13d221.3f6c","name":"brightness slider","label":"LED brightness","group":"bf3d7b54.ee48e","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"brightness","min":"1","max":"100","step":"1","x":390,"y":380,"wires":[["fc17628b.1ea65","33fe4b73.e25844"]]},{"id":"fc17628b.1ea65","type":"change","z":"ba13d221.3f6c","name":"set brightness status","rules":[{"t":"set","p":"brightness","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[[]]},{"id":"dd307d3c.60869","type":"function","z":"ba13d221.3f6c","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'yellow';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":290,"wires":[["92794d13.a3fa78"]]},{"id":"1f4b7e2e.f57b02","type":"function","z":"ba13d221.3f6c","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'red';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":380,"wires":[["aa7349e2.2a6538"]]},{"id":"e6792018.0713c","type":"ui_slider","z":"ba13d221.3f6c","name":"blinking mode slider","label":"Blinking mode","tooltip":"","group":"bf3d7b54.ee48e","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"mode","min":"0","max":"3","step":1,"x":390,"y":330,"wires":[["e946d410.e0f748","49c0f0b8.49d84"]]},{"id":"e946d410.e0f748","type":"change","z":"ba13d221.3f6c","name":"set mode status","rules":[{"t":"set","p":"mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":330,"wires":[[]]},{"id":"f8da581b.ce4438","type":"switch","z":"ba13d221.3f6c","name":"mode 2","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":840,"wires":[["6dd8a3b1.b47644","24f8f3c3.6e3e64","fbc47aff.6ec5e8","36c0f64e.e533ba"]]},{"id":"1a13de66.271db2","type":"switch","z":"ba13d221.3f6c","name":"mode 1","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":840,"wires":[["1ea1e199.b54e56"]]},{"id":"24f8f3c3.6e3e64","type":"function","z":"ba13d221.3f6c","name":"invert signal","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":880,"wires":[["4e7aa187.4fe34","26a9fbe9.336c6c","cda2f66.2a0c708"]]},{"id":"1ea1e199.b54e56","type":"trigger","z":"ba13d221.3f6c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":570,"y":890,"wires":[["d867af24.52a998","6dd8a3b1.b47644"]]},{"id":"d867af24.52a998","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":940,"wires":[["4e7aa187.4fe34","2134ec44.5eb324"]]},{"id":"fbc47aff.6ec5e8","type":"ui_switch","z":"ba13d221.3f6c","name":"Switch LED 3","label":"Switch LED 3","group":"2371e47e.2860a4","order":6,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1370,"y":510,"wires":[["92cfcdb2.c090a"]]},{"id":"92cfcdb2.c090a","type":"change","z":"ba13d221.3f6c","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":510,"wires":[["92c3f5f4.24baf8","44ed316c.078378"]]},{"id":"195ea59a.70d9ba","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy LED 3","pin":"33","set":false,"level":"0","freq":"100","out":"pwm","x":1920,"y":510,"wires":[]},{"id":"dda749a8.e05088","type":"ui_template","z":"ba13d221.3f6c","group":"2371e47e.2860a4","name":"Form LED 3 dot","order":5,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1930,"y":470,"wires":[[]]},{"id":"92c3f5f4.24baf8","type":"function","z":"ba13d221.3f6c","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'green';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":470,"wires":[["dda749a8.e05088"]]},{"id":"2134ec44.5eb324","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":990,"wires":[["fbc47aff.6ec5e8","db19ecf5.91d768"]]},{"id":"9570926c.0d787","type":"function","z":"ba13d221.3f6c","name":"while loop","func":"// Required local variables\ncontext.delay = context.delay || 1000;\ncontext.toggle = context.toggle || false;\ncontext.active = context.active || false;\n\n// If new command-msg arrives,\n// change state accordingly\nif (msg.topic == \"command\"){\n    // Conditions for starting\n    if (msg.payload & !context.active) {\n        context.active = true;\n        context.toggle = true;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    // Conditions for stopping\n    } else if (!msg.payload & context.active) {\n        context.active = false;\n        context.toggle = false;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    }\n// If a message with a new delay arrived\n// take and accept the new delay. Inactivate\n// the message by setting the topic to command\n} else if (msg.topic == \"delay\"){\n    context.delay = msg.payload;\n    msg.topic = \"command\";\n// If not, just toggle the state\n} else {\n    context.toggle = !context.toggle;\n}\n\n// If loop is active and it is not a repeated\n// start command, generate and send msg\nif (context.active & msg.topic !== \"command\") {\n    msg.delay = context.delay;\n    msg.payload = context.toggle;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":640,"y":480,"wires":[["4a6815dd.dab23c","f8da581b.ce4438","1a13de66.271db2","a168b320.94551"]]},{"id":"55ccafff.f97ab8","type":"comment","z":"ba13d221.3f6c","name":"Initialisations","info":"","x":90,"y":40,"wires":[]},{"id":"3d4041f2.0b0f66","type":"comment","z":"ba13d221.3f6c","name":"Push-Button and signal-handling","info":"","x":140,"y":280,"wires":[]},{"id":"e43b8d07.1f0688","type":"comment","z":"ba13d221.3f6c","name":"Controll-Form","info":"","x":370,"y":280,"wires":[]},{"id":"ace2c7a7.17f738","type":"comment","z":"ba13d221.3f6c","name":"Functions","info":"","x":640,"y":280,"wires":[]},{"id":"65b52104.d67a3","type":"comment","z":"ba13d221.3f6c","name":"Different blinking modes","info":"","x":1030,"y":280,"wires":[]},{"id":"150d36a2.696cf1","type":"comment","z":"ba13d221.3f6c","name":"Output to LED","info":"","x":1770,"y":240,"wires":[]},{"id":"2cd688c5.9606d8","type":"comment","z":"ba13d221.3f6c","name":"Form-Switches","info":"","x":1370,"y":280,"wires":[]},{"id":"e8541c91.59a39","type":"inject","z":"ba13d221.3f6c","name":"initialize false","topic":"init","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":100,"y":140,"wires":[["8e4a17e3.6631b","6dd8a3b1.b47644","4e7aa187.4fe34","fbc47aff.6ec5e8","36c0f64e.e533ba","4db3734e.01081c","1f2a15f0.dbd3a2","762322ff.230dcc","7a17c6c.5dc08b8"]]},{"id":"291c1332.d5b564","type":"function","z":"ba13d221.3f6c","name":"scale to 100","func":"msg.payload *= 100;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":90,"wires":[["12573a0c.fdbf2e","ca6c8498.4f97e8"]]},{"id":"12573a0c.fdbf2e","type":"function","z":"ba13d221.3f6c","name":"scale to 1000","func":"msg.payload *= 10;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":90,"wires":[["a5f92481.74c12"]]},{"id":"44ed316c.078378","type":"function","z":"ba13d221.3f6c","name":"scaling green","func":"var scaling_factor = 0.1;\n\nif (msg.payload > 0){\n    msg.payload = Math.max(parseInt(msg.payload*scaling_factor),1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":510,"wires":[["195ea59a.70d9ba"]]},{"id":"9c6b237b.1378a8","type":"rpi-gpio in","z":"ba13d221.3f6c","name":"pull-down-input","pin":"32","intype":"up","debounce":"25","read":false,"x":80,"y":640,"wires":[["9e5120ff.f76028"]]},{"id":"9e5120ff.f76028","type":"function","z":"ba13d221.3f6c","name":"cool off","func":"context.state = context.state || false;\ncontext.wait = context.wait || false;\n\nif (msg.payload === 1 & context.wait === false) {\n    context.state = !context.state;\n    context.wait = true;\n    return [{topic:'command',payload:context.state},{payload:'reset'}]\n} else if (msg.payload == 'reset'){\n    context.wait = false; \n}","outputs":2,"noerr":0,"x":290,"y":640,"wires":[["8e4a17e3.6631b","f4b6c5a9.6c15c8"],["41e5f441.cf68a4"]]},{"id":"41e5f441.cf68a4","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":690,"wires":[["9e5120ff.f76028"]]},{"id":"26a9fbe9.336c6c","type":"ui_switch","z":"ba13d221.3f6c","name":"Switch LED 4","label":"Switch LED 4","group":"2371e47e.2860a4","order":8,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1370,"y":600,"wires":[["58965a5.27260a4"]]},{"id":"58965a5.27260a4","type":"change","z":"ba13d221.3f6c","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":600,"wires":[["b8b1f639.f3ac2","f290492c.fe1268"]]},{"id":"f290492c.fe1268","type":"function","z":"ba13d221.3f6c","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'yellow';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":560,"wires":[["bd119143.8a1ec"]]},{"id":"bd119143.8a1ec","type":"ui_template","z":"ba13d221.3f6c","group":"2371e47e.2860a4","name":"Form LED 4 dot","order":7,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1930,"y":560,"wires":[[]]},{"id":"b8b1f639.f3ac2","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy LED 4","pin":"31","set":false,"level":"0","freq":"100","out":"pwm","x":1920,"y":600,"wires":[]},{"id":"db19ecf5.91d768","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1040,"wires":[["26a9fbe9.336c6c","2f4d13c7.bb01dc"]]},{"id":"36c0f64e.e533ba","type":"ui_switch","z":"ba13d221.3f6c","name":"Switch LED 5","label":"Switch LED 5","group":"2371e47e.2860a4","order":10,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED 5","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1370,"y":690,"wires":[["db7a036d.c89f6"]]},{"id":"db7a036d.c89f6","type":"change","z":"ba13d221.3f6c","name":"convert true false","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"brightness","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":690,"wires":[["f92d1e91.f88308","ae894129.fc12f8"]]},{"id":"ae894129.fc12f8","type":"function","z":"ba13d221.3f6c","name":"set color","func":"if (msg.payload > 0){\n    msg.color = 'brown';\n} else {\n    msg.color = 'black';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":650,"wires":[["8cc963f4.240018"]]},{"id":"8cc963f4.240018","type":"ui_template","z":"ba13d221.3f6c","group":"2371e47e.2860a4","name":"Form LED 5 dot","order":9,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.color}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1930,"y":650,"wires":[[]]},{"id":"f92d1e91.f88308","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy LED 5","pin":"29","set":false,"level":"0","freq":"100","out":"pwm","x":1920,"y":690,"wires":[]},{"id":"2f4d13c7.bb01dc","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1090,"wires":[["c3ff7b73.58fd","36c0f64e.e533ba"]]},{"id":"c3ff7b73.58fd","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1140,"wires":[["427f176c.2c74c"]]},{"id":"3684562f.26210a","type":"function","z":"ba13d221.3f6c","name":"Random colors","func":"if (msg.payload === true){\n    let r = parseInt(Math.random()*1*255);\n    let g = parseInt(Math.random()*0.2*255);\n    let b = parseInt(Math.random()*1*255);\n    msg.payload = `${r},${g},${b}`\n    \n    let r_hex = '00'+r.toString(16);\n    let g_hex = '00'+g.toString(16);\n    let b_hex = '00'+b.toString(16);\n    \n    let hex_color = '#'+r_hex.substr(r_hex.length - 2) + g_hex.substr(g_hex.length - 2) + b_hex.substr(b_hex.length - 2);\n    return [{payload:hex_color},msg]\n} else if (msg.payload === false){\n    return [{payload:'black'},{payload:'0,0,0'}]\n}","outputs":2,"noerr":0,"x":1720,"y":780,"wires":[["2b28f91e.c0548e"],["6ffee238.4a02f4"]]},{"id":"2b28f91e.c0548e","type":"ui_template","z":"ba13d221.3f6c","group":"2371e47e.2860a4","name":"Form LED Star dot","order":11,"width":"2","height":"1","format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1940,"y":750,"wires":[[]]},{"id":"4db3734e.01081c","type":"ui_switch","z":"ba13d221.3f6c","name":"Switch LED Star","label":"Switch LED Star","group":"2371e47e.2860a4","order":12,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"LED Star","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1520,"y":780,"wires":[["3684562f.26210a"]]},{"id":"b18b22a0.d182f","type":"ui_colour_picker","z":"ba13d221.3f6c","name":"Color picker","label":"Color picker for star","group":"bf3d7b54.ee48e","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":7,"width":"6","height":"1","passthru":true,"topic":"color","x":1350,"y":850,"wires":[["f8c06b6.0c79818"]]},{"id":"3e2819e1.f2c3e6","type":"function","z":"ba13d221.3f6c","name":"int to hex value","func":"msg.payload = '#'+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":850,"wires":[["6ffee238.4a02f4","2b28f91e.c0548e"]]},{"id":"bd4eb62d.0dca7","type":"comment","z":"ba13d221.3f6c","name":"Activation with human-pulldown","info":"","x":140,"y":590,"wires":[]},{"id":"f8c06b6.0c79818","type":"ui_text_input","z":"ba13d221.3f6c","name":"Color picker value","label":"Color value","group":"bf3d7b54.ee48e","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1560,"y":850,"wires":[["3e2819e1.f2c3e6"]]},{"id":"5d2612ab.2d9194","type":"function","z":"ba13d221.3f6c","name":"flame generatord","func":"context.state = context.state || false;\n\nlet black = '#000000'\n\nif (msg.topic == 'command'){\n    context.state = msg.payload;\n    msg.topic = 'repeat';\n}\n\nif (context.state === true & msg.payload != black){\n    let colors = ['500200','700200','a00000','a00101'];\n    var idx = Math.round(Math.random()*(colors.length))\n    idx = Math.min(idx,colors.length-1)\n    let color = colors[idx]\n    msg.payload = '#'+color;\n    return msg\n} else if (context.state === false & msg.payload != black){\n    msg.payload = black;\n    return msg\n}","outputs":1,"noerr":0,"x":1600,"y":940,"wires":[["a79f22c7.82587","f984a863.f03c58"]]},{"id":"a79f22c7.82587","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0.05","randomLast":"0.25","randomUnits":"seconds","drop":false,"x":1570,"y":990,"wires":[["5d2612ab.2d9194"]]},{"id":"a168b320.94551","type":"switch","z":"ba13d221.3f6c","name":"mode 3","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":964,"y":840,"wires":[["5f891118.bea79"]]},{"id":"5f891118.bea79","type":"trigger","z":"ba13d221.3f6c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"600","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":984,"y":890,"wires":[["ee6946ae.3d6f08","6dd8a3b1.b47644"]]},{"id":"ee6946ae.3d6f08","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":974,"y":940,"wires":[["b8392eba.0623a","4e7aa187.4fe34"]]},{"id":"b8392eba.0623a","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":974,"y":990,"wires":[["25f32eca.0f0d42","fbc47aff.6ec5e8"]]},{"id":"25f32eca.0f0d42","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":974,"y":1040,"wires":[["d19db969.1ec3a","26a9fbe9.336c6c"]]},{"id":"d19db969.1ec3a","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":974,"y":1090,"wires":[["36c0f64e.e533ba","cda2f66.2a0c708"]]},{"id":"1f2a15f0.dbd3a2","type":"ui_switch","z":"ba13d221.3f6c","name":"Red flames switch","label":"Red flames","group":"bf3d7b54.ee48e","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1380,"y":940,"wires":[["5d2612ab.2d9194","89f13f71.2db618"]]},{"id":"183bbb4a.4381ad","type":"function","z":"ba13d221.3f6c","name":"flame generator 2","func":"context.state = context.state || false;\n\nlet black = '#000000'\n\nif (msg.topic == 'command'){\n    context.state = msg.payload;\n    msg.topic = 'repeat';\n}\n\nif (context.state === true & msg.payload != black){\n    let colors = ['2e0022','3a0047','090042','0f000e'];\n    var idx = Math.round(Math.random()*(colors.length))\n    idx = Math.min(idx,colors.length-1)\n    let color = colors[idx]\n    msg.payload = '#'+color;\n    return msg\n} else if (context.state === false & msg.payload != black){\n    msg.payload = black;\n    return msg\n}","outputs":1,"noerr":0,"x":1600,"y":1050,"wires":[["efe88929.2aaf2","26a973.4ed6468e"]]},{"id":"efe88929.2aaf2","type":"delay","z":"ba13d221.3f6c","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0.5","randomLast":"1","randomUnits":"seconds","drop":false,"x":1570,"y":1100,"wires":[["183bbb4a.4381ad"]]},{"id":"762322ff.230dcc","type":"ui_switch","z":"ba13d221.3f6c","name":"Blue flames switch","label":"Blue flames","group":"bf3d7b54.ee48e","order":3,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1380,"y":1050,"wires":[["183bbb4a.4381ad","65aeda1.d0fde24"]]},{"id":"f984a863.f03c58","type":"function","z":"ba13d221.3f6c","name":"split up RGB","func":"let color = msg.payload.slice(1,-1);\nlet r = parseInt(color.slice(0,2),16)/250*100\nlet g = parseInt(color.slice(2,4),16)/250*100\nlet b = parseInt(color.slice(4,6),16)/250*100\nreturn [{payload:r},{payload:g},{payload:b}];","outputs":3,"noerr":0,"x":1910,"y":940,"wires":[["4d02062.884c9f8"],["d205c06d.c11388"],["fb98f712.927128"]],"inputLabels":["RGB as hex with leading #"],"outputLabels":["Red as INT","Green as INT","Blue as INT"]},{"id":"4d02062.884c9f8","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy Lamp R","pin":"12","set":false,"level":"0","freq":"50","out":"pwm","x":2110,"y":880,"wires":[]},{"id":"d205c06d.c11388","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy Lamp G","pin":"16","set":false,"level":"0","freq":"50","out":"pwm","x":2110,"y":940,"wires":[]},{"id":"fb98f712.927128","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy Lamp B","pin":"18","set":false,"level":"0","freq":"50","out":"pwm","x":2110,"y":1000,"wires":[]},{"id":"26a973.4ed6468e","type":"function","z":"ba13d221.3f6c","name":"split up RGB","func":"let color = msg.payload.slice(1,-1);\nlet r = parseInt(color.slice(0,2),16)/250*100\nlet g = parseInt(color.slice(2,4),16)/250*100\nlet b = parseInt(color.slice(4,6),16)/250*100\nreturn [{payload:r},{payload:g},{payload:b}];","outputs":3,"noerr":0,"x":1910,"y":1120,"wires":[["7df5a901.4e5998"],["d29e7080.535418"],["d5e2dbc5.fc0d08"]],"inputLabels":["RGB as hex with leading #"],"outputLabels":["Red as INT","Green as INT","Blue as INT"]},{"id":"7df5a901.4e5998","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy Lamp R","pin":"36","set":false,"level":"0","freq":"50","out":"pwm","x":2110,"y":1060,"wires":[]},{"id":"d29e7080.535418","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy Lamp G","pin":"38","set":false,"level":"0","freq":"50","out":"pwm","x":2110,"y":1120,"wires":[]},{"id":"d5e2dbc5.fc0d08","type":"rpi-gpio out","z":"ba13d221.3f6c","name":"Raspy Lamp B","pin":"40","set":false,"level":"0","freq":"50","out":"pwm","x":2110,"y":1180,"wires":[]},{"id":"427f176c.2c74c","type":"switch","z":"ba13d221.3f6c","name":"just turn on","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":1190,"wires":[["cda2f66.2a0c708"]]},{"id":"cda2f66.2a0c708","type":"change","z":"ba13d221.3f6c","name":"replace with blinky state","rules":[{"t":"set","p":"payload","pt":"msg","to":"blinky","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":780,"wires":[["4db3734e.01081c"]],"outputLabels":["stete of flow.blinky as msg.payload"]},{"id":"44516a1c.c000ec","type":"template","z":"ba13d221.3f6c","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT *\nFROM data\nORDER BY id DESC\nLIMIT 3","output":"str","x":140,"y":1120,"wires":[["ad38aad2.a83838"]]},{"id":"f4b6c5a9.6c15c8","type":"function","z":"ba13d221.3f6c","name":"generate Query injection","func":"if (msg.payload === true){\n    msg.topic = \"INSERT INTO data (payload) values ('Über Knete aktiviert.')\"\n} else {\n   msg.topic = \"INSERT INTO data (payload) values ('Über Knete deaktiviert.')\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1000,"wires":[["8d0edde7.4f302"]]},{"id":"efbea022.d562c8","type":"ui_template","z":"ba13d221.3f6c","group":"e8916268.7b94b8","name":"","order":12,"width":"6","height":"7","format":"<div>\n    <h1>Letzte Bedienanweisungen</h1>\n    <table border=\"1\">\n        <th>Zeitstempel</th>\n        <th>Kommando</th>\n        <tr>\n            <td>{{msg.payload[0].timestamp}}</td>\n            <td>{{msg.payload[0].payload}}</td>\n        </tr>\n        <tr>\n            <td>{{msg.payload[1].timestamp}}</td>\n            <td>{{msg.payload[1].payload}}</td>\n        </tr>\n       <tr>\n            <td>{{msg.payload[2].timestamp}}</td>\n            <td>{{msg.payload[2].payload}}</td>\n        </tr>\n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":334,"y":1182,"wires":[[]]},{"id":"4866ea98.f2b684","type":"function","z":"ba13d221.3f6c","name":"generate Query injection","func":"if (msg.payload === true){\n    msg.topic = \"INSERT INTO data (payload) values ('Automatisch Blinken ein.')\"\n} else {\n   msg.topic = \"INSERT INTO data (payload) values ('Automatisch Blinken aus.')\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":960,"wires":[["8d0edde7.4f302"]]},{"id":"49c0f0b8.49d84","type":"function","z":"ba13d221.3f6c","name":"generate Query injection","func":"msg.topic = \"INSERT INTO data (payload) values ('Modus \"+msg.payload+\" gewählt')\"\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":920,"wires":[["8d0edde7.4f302"]]},{"id":"33fe4b73.e25844","type":"function","z":"ba13d221.3f6c","name":"generate Query injection","func":"msg.topic = \"INSERT INTO data (payload) values ('LED Lichtstärke auf \"+msg.payload+\" gesetzt')\"\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":880,"wires":[["8d0edde7.4f302"]]},{"id":"6c9870c.e9f1e9","type":"function","z":"ba13d221.3f6c","name":"generate Query injection","func":"msg.topic = \"INSERT INTO data (payload) values ('Blinkfrequenz auf \"+msg.payload+\"ms gesetzt')\"\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":840,"wires":[["8d0edde7.4f302"]]},{"id":"89f13f71.2db618","type":"function","z":"ba13d221.3f6c","name":"generate Query injection","func":"if (msg.payload === true){\n    msg.topic = \"INSERT INTO data (payload) values ('Laterne ein.')\"\n} else {\n   msg.topic = \"INSERT INTO data (payload) values ('Laterne aus.')\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":800,"wires":[["8d0edde7.4f302"]]},{"id":"65aeda1.d0fde24","type":"function","z":"ba13d221.3f6c","name":"generate Query injection","func":"if (msg.payload === true){\n    msg.topic = \"INSERT INTO data (payload) values ('Stab ein.')\"\n} else {\n   msg.topic = \"INSERT INTO data (payload) values ('Stab aus.')\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":760,"wires":[["8d0edde7.4f302"]]},{"id":"8d0edde7.4f302","type":"mysql","z":"ba13d221.3f6c","mydb":"bd7af9c7.49ec18","name":"SQL_Database","x":140,"y":1060,"wires":[["44516a1c.c000ec"]]},{"id":"ad38aad2.a83838","type":"mysql","z":"ba13d221.3f6c","mydb":"bd7af9c7.49ec18","name":"SQL_Database","x":140,"y":1180,"wires":[["efbea022.d562c8","a9ce0ed3.ea3328"]]},{"id":"6ffee238.4a02f4","type":"ledborg","z":"ba13d221.3f6c","name":"Raspy LED Star","x":1930,"y":790,"wires":[]},{"id":"a9ce0ed3.ea3328","type":"debug","z":"ba13d221.3f6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":305.26666259765625,"y":1266.2166442871094,"wires":[]},{"id":"7a17c6c.5dc08b8","type":"template","z":"ba13d221.3f6c","name":"initialize table","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"create table data (\nid INT AUTO_INCREMENT,\npayload CHAR(50) NOT NULL,\ntimestamp TIMESTAMP,\nPRIMARY KEY(id)\n);","output":"str","x":139.88333129882812,"y":721.2833251953125,"wires":[["8d0edde7.4f302"]]},{"id":"bf3d7b54.ee48e","type":"ui_group","z":"","name":"Settings","tab":"80d60a06.7d8f9","order":2,"disp":true,"width":"6","collapse":false},{"id":"2371e47e.2860a4","type":"ui_group","z":"ba13d221.3f6c","name":"LEDs","tab":"80d60a06.7d8f9","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8916268.7b94b8","type":"ui_group","z":"","name":"Monitoring","tab":"80d60a06.7d8f9","order":3,"disp":true,"width":"6","collapse":false},{"id":"bd7af9c7.49ec18","type":"MySQLdatabase","z":"ba13d221.3f6c","host":"127.0.0.1","port":"3306","db":"node_red","tz":""},{"id":"80d60a06.7d8f9","type":"ui_tab","z":"ba13d221.3f6c","name":"Raspberry-Krippe","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
