tools/RGB-LED.json
[{"id":"9e03ab05.947d18","type":"ui_slider","z":"145596e7.65fb09","name":"red","label":"red","group":"5a2a5678.8abfe8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":220,"y":220,"wires":[["7272d354.da528c"]]},{"id":"767e8ee7.2a3678","type":"rpi-gpio out","z":"145596e7.65fb09","name":"","pin":"40","set":"","level":"0","freq":"100","out":"pwm","x":430,"y":140,"wires":[]},{"id":"9e31cc67.1dbad","type":"rpi-gpio out","z":"145596e7.65fb09","name":"","pin":"38","set":"","level":"0","freq":"100","out":"pwm","x":430,"y":180,"wires":[]},{"id":"7272d354.da528c","type":"rpi-gpio out","z":"145596e7.65fb09","name":"","pin":"36","set":"","level":"0","freq":"","out":"pwm","x":430,"y":220,"wires":[]},{"id":"b6fb0fde.69a7b8","type":"ui_slider","z":"145596e7.65fb09","name":"green","label":"green","group":"5a2a5678.8abfe8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":220,"y":140,"wires":[["767e8ee7.2a3678"]]},{"id":"cff62380.df343","type":"ui_slider","z":"145596e7.65fb09","name":"blue","label":"blue","group":"5a2a5678.8abfe8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":220,"y":180,"wires":[["9e31cc67.1dbad"]]},{"id":"e3b6ee7f.1b1378","type":"inject","z":"145596e7.65fb09","name":"init 0","topic":"init","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":180,"wires":[["b6fb0fde.69a7b8","cff62380.df343","9e03ab05.947d18"]]},{"id":"5a2a5678.8abfe8","type":"ui_group","z":"","name":"RGB","tab":"43140b68.21d144","disp":true,"width":"6","collapse":false},{"id":"43140b68.21d144","type":"ui_tab","z":"","name":"RGB","icon":"dashboard"}]