tools/while-loop.json
[{"id":"ebd9fd0a.c904b","type":"inject","z":"5cd20a3c.d86e3c","name":"start","topic":"command","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":110,"wires":[["562ddb4.91fba24"]]},{"id":"2cdccf70.4e97a","type":"inject","z":"5cd20a3c.d86e3c","name":"stop","topic":"command","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":170,"wires":[["562ddb4.91fba24"]]},{"id":"c5559465.6f3a68","type":"inject","z":"5cd20a3c.d86e3c","name":"delay 500","topic":"delay","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["562ddb4.91fba24"]]},{"id":"78b823a8.e36f4c","type":"inject","z":"5cd20a3c.d86e3c","name":"delay 1000","topic":"delay","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["562ddb4.91fba24"]]},{"id":"562ddb4.91fba24","type":"function","z":"5cd20a3c.d86e3c","name":"loop","func":"// Required local variables\ncontext.delay = context.delay || 1000;\ncontext.toggle = context.toggle || false;\ncontext.active = context.active || false;\n\n// If new command-msg arrives,\n// change state accordingly\nif (msg.topic == \"command\"){\n    // Conditions for starting\n    if (msg.payload & !context.active) {\n        context.active = true;\n        context.toggle = true;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    // Conditions for stopping\n    } else if (!msg.payload & context.active) {\n        context.active = false;\n        context.toggle = false;\n        msg.payload = context.toggle;\n        msg.topic = true;\n    }\n// If a message with a new delay arrived\n// take and accept the new delay. Inactivate\n// the message by setting the topic to command\n} else if (msg.topic == \"delay\"){\n    context.delay = msg.payload;\n    msg.topic = \"command\";\n// If not, just toggle the state\n} else {\n    context.toggle = !context.toggle;\n}\n\n// If loop is active and it is not a repeated\n// start command, generate and send msg\nif (context.active & msg.topic !== \"command\") {\n    msg.delay = context.delay;\n    msg.payload = context.toggle;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["c2c61e5f.77bcf","5b051bf8.74478c"]]},{"id":"c2c61e5f.77bcf","type":"delay","z":"5cd20a3c.d86e3c","name":"loop delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":270,"wires":[["562ddb4.91fba24"]]},{"id":"5b051bf8.74478c","type":"debug","z":"5cd20a3c.d86e3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":200,"wires":[]}]